[submodule "lib/DroneApplications"]
	path = lib/DroneApplications
	url = https://github.com/Bardo91/DroneApplications.git
[submodule "lib/bovil"]
	path = lib/bovil
	url = https://github.com/Bardo91/bovil.git
[submodule "lib/ardronepp"]
	path = lib/ardronepp
	url = https://github.com/Bardo91/ARdrone-pp
